html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
  font-size: 20px;
  padding: 0;
  font-family: "Open Sans", serif;
  background-image: url("../images/pexels-roberto-shumski-1903702.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  background-color: #b8fbe5;
  padding: 0.5rem 0;
  width: 100%;
  opacity: 0.7;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header p {
  color: rgba(25, 29, 255, 0.911);
  font-size: 95px;
}
.current {
  background-color: #5c3408;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

.current a {
  color: #fff;
}

h1 {
  font-size: 55px;
  line-height: 1;
  padding: 50px 0;
  color: rgba(25, 29, 255, 0.911);
  font-weight: bold;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(0, 241, 40);
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

.aboutme{
  margin:auto;
  color: white;
  text-shadow: black 0px 0px 20px;
  text-align: center;
  font-size: 13px;
  margin-top: 15px;
}

main {
  min-height: 35vh;
}


/* references styling */
#main-ref {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-ref article {
  margin-top: 2rem;
}

article img {
  width: 90%;
  max-width: 800px;
  border: none;
}
/* footer */
footer {
  background-color: black;
  color: white;
  position: fixed;
  text-align: center;
  left: 0px;
  bottom: 0px;
  height: 60px;
  width: 100%;
  margin: auto;
}
/* text styling */
.jake{
  text-align: center;
  color:white;
  font-size: 25px;
  padding: 0 100px;
  position: relative;
  top: 75px;
}


/* Styling parap of journey */
.div1 h1, .div4 h1, .div7 h1, .div8 h1, .div10 h1, .div11 h1, .div12 h1 {
  text-align: center;
  color: rgba(25, 29, 255, 0.911);
  font-size: 35px;
  padding: 0.5px;

}
.div1 p, .div2 p, .div3 p, .div4 p, .div5 p, .div6 p, .div7 p, .div8 p, .div10 p, .div11 p, .div12 p{
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 0.5px;
}

/* My journey black bground */
.parentgrid{
  background-color: black !important;
}

/* grid */
.parentgrid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  grid-column-gap: 10px
  }

.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
  }

  /* contact  */
  .jake p{
    color: white;
    font-size: 25px;
    text-align: center;
    position: relative;
  }
@media screen and (min-width: 768px) {
  nav {
    background-color: #b8fbe5;
    padding: 0.5rem 0;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .jake p{
    text-align: center;
    color: white;
    font-size: 35px;
    padding: 0 100px;
    position: relative;
    top: 55px;
    
  }

}
